RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^manage\/([a-z]*)\.html$ manage.php?ad_type=$1
RewriteRule ^manage\/([1-9]+[0-9]*)\/([a-z]*)\/([0-9])\.html$ manage.php?id=$1&ad_type=$2&show=$3
RewriteRule ^manage\/([1-9]+[0-9]*)\/([a-z]*)\.html$ manage.php?page=$1&ad_type=$2
RewriteRule ^index\.html$ index.php
RewriteRule ^userInfo/([1-9]+[0-9]*)\.html$ userInfo.php?userid=$1
RewriteRule ^userInfo\/([1-9]+[0-9]*)\/([A-Z]*)\.html$ userInfo.php?userid=$1&feedback=$2
RewriteRule ^userInfo\/([1-9]+[0-9]*)\/([A-Z]*)\/([1-9]+[0-9]*)\.html$ userInfo.php?page=$1&feedback=$2&userid=$3
RewriteRule ^userInfo\/([1-9]+[0-9]*)\/([1-9]+[0-9]*)\.html$ userInfo.php?page=$1&userid=$2
RewriteRule ^buy_bitcoins\.html$ buy_bitcoins.php
RewriteRule ^buy_bitcoins\/([a-z]*)\.html$ buy_bitcoins.php?pay_type=$1
RewriteRule ^buy_bitcoins\/([1-9]+[0-9]*)\.html$ buy_bitcoins.php?page=$1
RewriteRule ^buy_bitcoins\/([1-9]+[0-9]*)\/([a-z]*)\.html$ buy_bitcoins.php?page=$1&pay_type=$2
RewriteRule ^sell_bitcoins\.html$ sell_bitcoins.php
RewriteRule ^sell_bitcoins\/([a-z]*)\.html$ sell_bitcoins.php?pay_type=$1
RewriteRule ^sell_bitcoins\/([1-9]+[0-9]*)\.html$ sell_bitcoins.php?page=$1
RewriteRule ^sell_bitcoins\/([1-9]+[0-9]*)\/([a-z]*)\.html$ sell_bitcoins.php?page=$1&pay_type=$2
RewriteRule ^advertise\.html$ advertise.php
RewriteRule ^advertise\/([1-9]+[0-9]*)\.html$ advertise.php?id=$1
RewriteRule ^buy_contennt\/([1-9]+[0-9]*)\.html$ buy_contennt.php?id=$1
RewriteRule ^sell_contennt\/([1-9]+[0-9]*)\.html$ sell_contennt.php?id=$1
RewriteRule ^ddContent\/([1-9]+[0-9]*)\.html$ ddContent.php?id=$1
RewriteRule ^ddContent\/([1-9])\/([1-9]+[0-9]*)\.html$ ddContent.php?type=$1&id=$2
RewriteRule ^sign_up\.html$ sign_up.php
RewriteRule ^sign_up\/([a-zA-Z]*)\.html$ sign_up.php?ref=$1
RewriteRule ^sign_in\.html$ sign_in.php
RewriteRule ^invite\.html$ invite.php
RewriteRule ^tradeList\.html$ tradeList.php
RewriteRule ^tradeList\/([1-9]+[0-9]*)\.html$ tradeList.php?page=$1
RewriteRule ^user_center\.html$ user_center.php
RewriteRule ^user_center\/([a-zA-Z]*)\.html$ user_center.php?type=$1
RewriteRule ^wallet\.html$ wallet.php
RewriteRule ^wallet\/([a-z]*)\.html$ wallet.php?op=$1
RewriteRule ^wallet\/([a-z]*)\/([a-z]*)\.html$ wallet.php?op=$1&type=$2
RewriteRule ^wallet\/([1-9]+[0-9]*)\/([a-z]*)\/([a-z]*)\.html$ wallet.php?page=$1&op=$2&type=$3
RewriteRule ^wallet\/([1-9]+[0-9]*)\/([1-9]+[0-9]*)\/([a-z]*)\.html$ wallet.php?repeal=$1&userid=$2&op=$3
RewriteRule ^news\.html$ news.php
RewriteRule ^news\/([1-9]+[0-9]*)\.html$ news.php?page=$1
RewriteRule ^artical\/([1-9]+[0-9]*)\.html$ artical.php?id=$1
RewriteRule ^about\.html$ about.php
RewriteRule ^fee\.html$ fee.php
RewriteRule ^help\.html$ help.php
RewriteRule ^find\.html$ find.php
RewriteRule ^find2\.html$ find2.php
RewriteRule ^find3\.html$ find3.php