<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
			      <rule name="已导入的规则 1">
                    <match url="^manage\/([a-z]*)\.html$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="manage.php?ad_type={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 2">
                    <match url="^manage\/([1-9]+[0-9]*)\/([a-z]*)\/([0-9])\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="manage.php?id={R:1}&amp;ad_type={R:2}&amp;show={R:3}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 3">
                    <match url="^manage\/([1-9]+[0-9]*)\/([a-z]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="manage.php?page={R:1}&amp;ad_type={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 4">
                    <match url="^index\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="已导入的规则 5">
                    <match url="^userInfo/([1-9]+[0-9]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="userInfo.php?userid={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 6">
                    <match url="^userInfo\/([1-9]+[0-9]*)\/([A-Z]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="userInfo.php?userid={R:1}&amp;feedback={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 7">
                    <match url="^userInfo\/([1-9]+[0-9]*)\/([A-Z]*)\/([1-9]+[0-9]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="userInfo.php?page={R:1}&amp;feedback={R:2}&amp;userid={R:3}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 8">
                    <match url="^userInfo\/([1-9]+[0-9]*)\/([1-9]+[0-9]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="userInfo.php?page={R:1}&amp;userid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 9">
                    <match url="^buy_bitcoins\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="buy_bitcoins.php" />
                </rule>
                <rule name="已导入的规则 10">
                    <match url="^buy_bitcoins\/([a-z]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="buy_bitcoins.php?pay_type={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 11">
                    <match url="^buy_bitcoins\/([1-9]+[0-9]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="buy_bitcoins.php?page={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 12">
                    <match url="^buy_bitcoins\/([1-9]+[0-9]*)\/([a-z]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="buy_bitcoins.php?page={R:1}&amp;pay_type={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 13">
                    <match url="^sell_bitcoins\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="sell_bitcoins.php" />
                </rule>
                <rule name="已导入的规则 14">
                    <match url="^sell_bitcoins\/([a-z]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="sell_bitcoins.php?pay_type={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 15">
                    <match url="^sell_bitcoins\/([1-9]+[0-9]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="sell_bitcoins.php?page={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 16">
                    <match url="^sell_bitcoins\/([1-9]+[0-9]*)\/([a-z]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="sell_bitcoins.php?page={R:1}&amp;pay_type={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 17">
                    <match url="^advertise\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="advertise.php" />
                </rule>
                <rule name="已导入的规则 18">
                    <match url="^advertise\/([1-9]+[0-9]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="advertise.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 19">
                    <match url="^buy_contennt\/([1-9]+[0-9]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="buy_contennt.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 20">
                    <match url="^sell_contennt\/([1-9]+[0-9]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="sell_contennt.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 21">
                    <match url="^ddContent\/([1-9]+[0-9]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="ddContent.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 22">
                    <match url="^ddContent\/([1-9])\/([1-9]+[0-9]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="ddContent.php?type={R:1}&amp;id={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 23">
                    <match url="^sign_up\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="sign_up.php" />
                </rule>
                <rule name="已导入的规则 24">
                    <match url="^sign_up\/([a-zA-Z]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="sign_up.php?ref={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 25">
                    <match url="^sign_in\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="sign_in.php" />
                </rule>
                <rule name="已导入的规则 26">
                    <match url="^invite\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="invite.php" />
                </rule>
                <rule name="已导入的规则 27">
                    <match url="^tradeList\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="tradeList.php" />
                </rule>
                <rule name="已导入的规则 28">
                    <match url="^tradeList\/([1-9]+[0-9]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="tradeList.php?page={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 29">
                    <match url="^user_center\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="user_center.php" />
                </rule>
                <rule name="已导入的规则 30">
                    <match url="^user_center\/([a-zA-Z]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="user_center.php?type={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 31">
                    <match url="^wallet\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="wallet.php" />
                </rule>
                <rule name="已导入的规则 32">
                    <match url="^wallet\/([a-z]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="wallet.php?op={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 33">
                    <match url="^wallet\/([a-z]*)\/([a-z]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="wallet.php?op={R:1}&amp;type={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 34">
                    <match url="^wallet\/([1-9]+[0-9]*)\/([a-z]*)\/([a-z]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="wallet.php?page={R:1}&amp;op={R:2}&amp;type={R:3}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 35">
                    <match url="^wallet\/([1-9]+[0-9]*)\/([1-9]+[0-9]*)\/([a-z]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="wallet.php?repeal={R:1}&amp;userid={R:2}&amp;op={R:3}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 36">
                    <match url="^news\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="news.php" />
                </rule>
                <rule name="已导入的规则 37">
                    <match url="^news\/([1-9]+[0-9]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="news.php?page={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 38">
                    <match url="^artical\/([1-9]+[0-9]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="artical.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 39">
                    <match url="^about\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="about.php" />
                </rule>
                <rule name="已导入的规则 40">
                    <match url="^fee\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="fee.php" />
                </rule>
                <rule name="已导入的规则 41">
                    <match url="^help\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="help.php" />
                </rule>
                <rule name="已导入的规则 42">
                    <match url="^find\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="find.php" />
                </rule>
                <rule name="已导入的规则 43">
                    <match url="^find2\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="find2.php" />
                </rule>
                <rule name="已导入的规则 44">
                    <match url="^find3\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="find3.php" />
                </rule>
            </rules>
        </rewrite>
        
     
    </system.webServer>
</configuration>
